@page "/"
@using BlazorMonaco.Editor
@using Sunset.Parser
@using MathJaxBlazor

<PageTitle>Playground</PageTitle>

<h1>The Sunset Language</h1>
<h2>Live playground</h2>
<MathJaxContentComponent>
    $$ x = y^2 $$
</MathJaxContentComponent>
<div class="row">
    <!-- Code editor -->
    <div class="col-md-6">
        <button class="btn btn-primary" @onclick="RunCode">Run</button>
        <StandaloneCodeEditor @ref="_editor" Id="editor" CssClass="editor"
                              ConstructionOptions="EditorConstructionOptions"/>
    </div>
    <!-- Output -->
    <div class="col-md-6">
        <MathJaxContentComponent @ref="_outputWindow">
            
            <textarea
                class="form-control border rounded p-3"
                style="min-height: 400px;"
                @bind="_outputText"
                readonly>$$x^2$$</textarea>
        </MathJaxContentComponent>
    </div>
</div>

@inject IJSRuntime JSRuntime

@code{
    private StandaloneCodeEditor _editor = new();
    private string _outputText = string.Empty;
    private MathJaxContentComponent _outputWindow = new();

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Language = "javascript",
            Value = "x = 12",
        };
    }

    private async Task RunCode()
    {
        var code = await _editor.GetValue();

        var sourceFile = SourceFile.FromString(code);
        var environment = sourceFile.CreateEnvironment();
        environment.Parse();
        var output = ((FileScope)environment.ChildScopes["$file"]).PrintDefaultValues();
        //await RenderOutput(output);
        _outputWindow.ChildContent.
    }

    private Task RenderOutput(string text)
    {
        _outputText = text;
        return Task.CompletedTask;
    }

}