@page "/"
@using Sunset.Docsite.Components

<PageTitle>The Sunset Language</PageTitle>

<div class="mt-8 mb-4 d-flex flex-row gap-4">
    <div class="mt-8">
        <img src="assets/logo.svg" alt="The Sunset language logo"/>
    </div>
    <div class="d-flex flex-column">
        <h1 class="sunset-title">Sunset</h1>
        <div class="sunset-subtitle">Calculations that <i>look</i> like calculations.</div>
    </div>
</div>

<div class="mb-4">
    Sunset is a simple programming language designed specifically for design engineers.
    Play around with the example below or in our <a href="playground">playground</a> to see it in action.
</div>

<!-- Example scripts -->
<SunsetEditor/>

<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudCard>
            <MudCardContent>
                <h2>Learn more</h2>
                <MudText>Follow along with our interactive tutorials to learn more about Sunset and how it can help you
                    create faster, safer engineering tools.
                </MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Href="learn">Start learning</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="6" md="4">
        <MudCard>
            <MudCardContent>
                <h2>Install</h2>
                <MudText>Sunset comes with a number of tools to help you write good clean code. Install them for the
                    best experience in writing code on your computer.
                </MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Href="learn">Install Sunset tools</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="6" md="4">
        <MudCard>
            <MudCardContent>
                <h2>Why Sunset?</h2>
                <MudText>Sunset has a number of advantages over traditional spreadsheet-based tools. Here are three of
                    them:
                    <ul class="ml-4">
                        <li>All equations are shown in their symbolic form, so if the equation <b>looks</b> right,
                            you're
                            guaranteed that the calculations <b>are</b> right.
                        </li>
                        <li>All units are converted automatically.</li>
                        <li>It's free and open source.</li>
                    </ul>
                </MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Href="why">See more reasons</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
